@import "tailwindcss";

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities"; */

@theme {
  --color-primario-50: #eff6ff;
  --color-primario-100: #dbeafe;
  --color-primario-200: #bfdbfe;
  --color-primario-300: #93c5fd;
  --color-primario-400: #60a5fa;
  --color-primario-500: #3b82f6;
  --color-primario-600: #2563eb;
  --color-primario-700: #1d4ed8;
  --color-primario-800: #1e40af;
  --color-primario-900: #1e3a8a;
  --color-primario-950: #172554;

  --color-mi-azul: #3b82f6;
  --color-mi-verde: #10b981;
  --color-mi-rojo: #ef4444;
  --color-mi-amarillo: linear-gradient(
    45deg,
    #facc15,
    #f59e0b 30%,
    #f97316 60%
  );

  --color-primaryBlue: #2563eb;
  --color-secondaryCyan: #06b6d4;
  --color-accentPurple: #9333ea;
  --color-sucessGreen: #10b981;
  --color-darkTest: #111827;
  --color-mediumGray: #4b5563;
  --color-lightGray: #9ca3af;
  --color-borderGray: #d1d5db;
  --color-backgroundLight: #f9fafb;
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}

html,
body {
  font-family: system-ui, sans-serif;
  background: white;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* body {
  @apply grid place-content-center p-20;
}

body > div {
  @apply container;
} */
