---
import ContactForm from "./ContactForm.jsx"
---

<section class="flex min-h-screen items-center px-6 py-16">
    <div class="mx-auto max-w-6xl">
        <div class="mb-12 text-center">
            <h2
              class="mb-4 text-3xl font-bold text-darkTest"
            >
              Contactanos!
            </h2>
            <p class="text-lg text-mediumGray">
              Lorem, ipsum dolor sit amet
              consectetur adipisicing elit.
            </p>
          </div>
          <div>
            <ContactForm client:load />
          </div>
    </div>
</section>