<section
  class="relative flex min-h-screen items-center justify-center bg-gray-50"
> 
  <div
    class="relative max-w-4xl px-6 text-center z-10"
  >
    <h1
      class="mb-6 text-6xl font-bold text-gray-900"
    >
      <span class="text-primaryBlue">&lt;Code</span>Craft&gt;
    </h1>
    <p
      class="mb-8 text-xl text-mediumGray"
    >
      Soluciones digitales a tu medida
    </p>
    <!-- <a
      href="#contacto"
      class="rounded-lg bg-blue-600 px-8 py-4 font-semibold text-white hover:bg-blue-700"
    >
      Empezar Ahora
    </a> -->
  </div>
  <img src="flujoDatos.svg" alt="Fondo Red Neuronal" class="absolute inset-0 h-full w-full object-cover opacity-35 z-0" />
</section>